:host {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
:host(:focus) {
  outline: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
:host([disabled]) {
  pointer-events: none;
  cursor: default;
}
:host([invalid]) {
  color: red;
}