:host {
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
:host(:focus[contenteditable]) {
  text-overflow: inherit;
  cursor: text;
}
:host(:empty::after) {
  min-width: 0.5em;
  content: 'undefined';
  opacity: 0.5;
}
:host([type=string]:empty::after) {
  content: 'string';
}
:host([type=number]:empty::after) {
  content: 'number';
}
:host([type=undefined]:empty::after) {
  content: 'undefined';
}
:host([type=null]:empty::after) {
  content: 'null';
}
:host([type=NaN]:empty::after) {
  content: 'NaN';
}
:host([type=object]:empty::after) {
  content: 'object';
}
:host([type=array]:empty::after) {
  content: 'array';
}
:host([type=function]:empty::after) {
  content: 'function';
}
