:host {
  display: inline-block;
}
:host /deep/ .io-bundle-value {
  display: inline-block;
}
:host /deep/ .io-bundle-value:focus {
  outline: 0;
  /*border-bottom: 1px solid gray;*/
}
:host /deep/ .io-bundle-value.invalid:focus {
  /*border-bottom: 1px solid red;*/
}

:host /deep/ .io-value-label {
  vertical-align: top;
}