:host {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

/* clickmask */

/*:host > #io-bundle-clickmask {
  position: fixed;
  top: -10000px;
  left: -10000px;
  bottom: -10000px;
  right: -10000px;
  z-index: 100;
  cursor: default !important;
}*/

:host([focused]) /deep/ .io-bundle-value {
  position: relative;
  z-index: 101 !important;
}