:host {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
  display: none;
  position: relative;
  z-index: 101;
  cursor: default;
}
:host([noHide]) {
  display: inline-block;
}

:host([expanded]) {
  display: inline-block;
}
:host([context]) {
  position: absolute;
}
:host([issubmenu]) {
  position: absolute;
  top: 0;
  left: 100%;
}
:host([horizontal])::shadow > io-menu-option::shadow > io-menu {
  top: 100%;
  left: 0;
}
:host([horizontal])::shadow > io-menu-option {
  display: inline-block;
}
:host::shadow > io-menu-option {
  display: block;
}
:host([horizontal])::shadow > hr {
  display: none;
  /* TODO: implement vertical divider */
}
:host > #search {
  display: block;
}
:host > #search::shadow > .io-bundle-value:empty:after {  
  content: "Search...";
}

:host > #tooltip {
  width: 14em;
  white-space: normal;
}

/* clickmask */

:host > #clickmask {
  position: fixed;
  top: -10000px;
  left: -10000px;
  bottom: -10000px;
  right: -10000px;
  z-index: -1;
  cursor: default !important;
}