:host {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*touch-action: none;*/
  display: block;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}
:host(:focus) {}
:host(:not([active])) {
  opacity: 0.5;
}
:host([expanded]) {}
:host::shadow > core-icon {
  margin-top: -0.25em;
  padding: 0;
  vertical-align: middle;
  width: 1.3em !important;
  height: 1.3em !important;
}