:host > .io-bundle-value {
  /*overflow-x: hidden;*/
  white-space: nowrap;
}
:host > .io-bundle-value:empty {
  min-width: 0.5em;
  cursor: text;
}
:host > .io-bundle-value:empty:after {	
  content: "{{placeholder}}";
  opacity: 0.25;
}