:host {
  touch-action: none;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
:host > .io-bundle-value {
  cursor: pointer;
}
:host > io-menu {
  position: absolute;
  display: none;
}
:host > io-menu[expanded] {
  display: inline-block;
}