:host {
  touch-action: none;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
:host > #value {
  vertical-align: top;
}
:host(:not([inline])) > #value {
  display: inline-block;
}
:host(:not([inline])) > #value > io-value {
  display: block;
  margin-left: 0.5em;
}
:host(:not([naked])) > #value > io-value:not(:last-of-type)::after {
  content: ', ';
}
:host(:not([naked])) > #value::before {
  content: '{';
}
:host(:not([naked])) > #value::after {
  content: '}';
}
:host(:not([naked]).array) > #value::before {
  content: '[';
}
:host(:not([naked]).array) > #value::after {
  content: ']';
}