:host /deep/ .io-bundle-constructor {
  font-style: italic;
}
:host > .io-bundle-value {
  display: block !important;
}
:host > .io-bundle-value > core-list {
  height: auto;
  margin-left: 1em;
}
:host > .io-bundle-value > core-list > io-value {
  display: block;
}
:host(:not([naked])) > .io-bundle-value > io-value:not(:last-of-type)::after {
  content: ', ';
}
:host(:not([naked])) > .io-bundle-value::before {
  content: '{';
}
:host(:not([naked])) > .io-bundle-value::after {
  content: '}';
}
:host(:not([naked]).array) > .io-bundle-value::before {
  content: '[';
}
:host(:not([naked]).array) > .io-bundle-value::after {
  content: ']';
}