<<<<<<< HEAD
||||||| merged common ancestors
:host {
  touch-action: none;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
=======
:host {
  /*touch-action: none;*/
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
>>>>>>> 7abbcc67883ab03a3c80d65f9697bdc3d6bc6d37
:host > .io-bundle-value {
  overflow-x: hidden;
  white-space: nowrap;
  cursor: text;
}
:host > .io-bundle-value:empty {
  min-width: 0.5em;
  display: inline-block;
  vertical-align: top;
}
:host > .io-bundle-value:empty:after {	
  content: "_";
}