html /deep/ .io-bundle {}

html /deep/ .io-bundle-value {
  /*color: rgb(8, 128, 12);*/
}
html /deep/ .io-bundle-value:focus {
  outline-color: invert;
  outline-offset: -1px;
}

html /deep/ io-object::shadow > .io-bundle-value {
  color: inherit;
}

html /deep/ .io-bundle-constructor {
  color: rgb(196, 64, 96);
}

/* io-options.css */
html /deep/ io-options::shadow > io-menu {}
html /deep/ io-options::shadow > io-menu[expanded] {}

/* io-menu.css */
html /deep/ io-menu {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.2em;
  background: #e9e9e9;
  box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.25);
  color: #333;
}

html /deep/ io-menu::shadow > #search::shadow > .io-bundle-value {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0.25em;
  padding: 0.3em;
  background: white;
}

html /deep/ io-menu::shadow > hr {
  border: 0;
  margin: 0.25em 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

/* io-menu-option.css */
html /deep/ io-menu-option {
  padding: 0.3em;
  border-radius: 0.1em;
}

html /deep/ io-menu-option[expanded] {
  /* debug.css */
  background: #69F;
  color: #fff;
}
html /deep/ io-menu-option::shadow > core-icon {}

html /deep/ io-menu::shadow > #tooltip {
  padding: 0.3em;
}

/* io-menu-veil.css */
body > div#io-menu-veil {
  background-color: black;
  transition: opacity 0.1s ease-in-out;
}
body > div#io-menu-veil.visible {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.2;
}

/* io-inspector.css */
html /deep/ io-inspector /deep/ io-object::shadow > .io-bundle-label {
  color: rgb(64, 96, 196);
}
html /deep/ io-inspector /deep/ io-object::shadow > .io-bundle-label:hover {
  text-decoration: underline;
}